In [35]:
import pandas as pd
import ast

In [28]:
movies = pd.read_csv("../data/tmdb_5000_movies.csv")
credits = pd.read_csv("../data/tmdb_5000_credits.csv")
movies.shape

(4803, 20)

In [29]:
credits.shape

(4803, 4)

In [30]:
#doing the outer join of credits and movies
movies = movies.merge(credits,how="outer",on="title")
print(movies.shape)
movies.info()

(4809, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

Q.what columns to select (feature selection)

1. genres
2. id (for fetching data from api)
3. title (remove original_title)
4. overview
5. cast
6. crew

In [32]:
movies = movies[["movie_id","title","genres","overview","keywords","cast","crew"]]
movies

,movie_id,title,genres,overview,keywords,cast,crew
0,301325,#Horror,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...","Inspired by actual events, a group of 12 year ...",[],"[{""cast_id"": 0, ""character"": ""Alex's 12-Step F...","[{""credit_id"": ""545bbac70e0a261fb6002329"", ""de..."
1,19913,(500) Days of Summer,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Tom (Joseph Gordon-Levitt), greeting-card writ...","[{""id"": 248, ""name"": ""date""}, {""id"": 572, ""nam...","[{""cast_id"": 4, ""character"": ""Tom Hansen"", ""cr...","[{""credit_id"": ""52fe47f99251416c750abaa5"", ""de..."
2,333371,10 Cloverfield Lane,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 878, ""...","After a car accident, Michelle awakens to find...","[{""id"": 1930, ""name"": ""kidnapping""}, {""id"": 23...","[{""cast_id"": 2, ""character"": ""Michelle"", ""cred...","[{""credit_id"": ""57627624c3a3680682000872"", ""de..."
3,345003,10 Days in a Madhouse,"[{""id"": 18, ""name"": ""Drama""}]","Nellie Bly, a 23 year-old reporter for Joseph ...","[{""id"": 1568, ""name"": ""undercover""}, {""id"": 49...","[{""cast_id"": 2, ""character"": ""Nellie Bly"", ""cr...","[{""credit_id"": ""594efa1fc3a36832650455ff"", ""de..."
4,4951,10 Things I Hate About You,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...","Bianca, a tenth grader, has never gone on a da...","[{""id"": 497, ""name"": ""shakespeare""}, {""id"": 59...","[{""cast_id"": 2, ""character"": ""Patrick Verona"",...","[{""credit_id"": ""52fe43e6c3a36847f807731d"", ""de..."
...,...,...,...,...,...,...,...
4804,10664,[REC]²,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...","The action continues from [REC], with the medi...","[{""id"": 3684, ""name"": ""religion and supernatur...","[{""cast_id"": 3, ""character"": ""\u00c1ngela Vida...","[{""credit_id"": ""52fe439e9251416c7501783d"", ""de..."
4805,1946,eXistenZ,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",A game designer on the run from assassins must...,"[{""id"": 282, ""name"": ""video game""}, {""id"": 215...","[{""cast_id"": 3, ""character"": ""Allegra Geller"",...","[{""credit_id"": ""52fe4325c3a36847f803db2d"", ""de..."
4806,7451,xXx,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Xander Cage is your standard adrenaline junkie...,"[{""id"": 999, ""name"": ""sports car""}, {""id"": 186...","[{""cast_id"": 8, ""character"": ""Xander Cage"", ""c...","[{""credit_id"": ""538d8c59c3a368714b004879"", ""de..."
4807,11679,xXx: State of the Union,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","Ice Cube stars as Darius Stone, a thrill-seeki...","[{""id"": 521, ""name"": ""washington d.c.""}, {""id""...","[{""cast_id"": 13, ""character"": ""Darius Stone / ...","[{""credit_id"": ""5578b667c3a3682a7500041a"", ""de..."
4808,8202,Æon Flux,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...","400 years into the future, disease has wiped o...","[{""id"": 779, ""name"": ""martial arts""}, {""id"": 4...","[{""cast_id"": 1, ""character"": ""Aeon Flux"", ""cre...","[{""credit_id"": ""52fe4495c3a36847f809e6f3"", ""de..."

In [33]:
#handing the missing data
movies.isnull().sum()
movies.dropna(inplace=True)

movie_id    0
title       0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [34]:
movies.duplicated().sum()

0

In [37]:
#convert json to a list format
def convert(obj):
    obj1 = ast.literal_eval(obj)
    tags = []
    for i in obj1:
        tags.append(i["name"])
    return tags

In [42]:
movies["genres"] = movies["genres"].apply(convert)

In [41]:
movies

ValueError: malformed node or string: 301325